<div class="service-container-index">
  <div id="service-technician-index-img">
    <div class="headers">
      <h1 id="tech-title">Available Services</h1>
    </div>
  </div>
  <div class="services-all">
    <div>
      <ul class="service-ul-all">
        <h2 id="service-title">What problem are you having?</h2>
        <br>
        <% @services.each do |service| %>
          <%= link_to services_technicians_path(:service_id => service.id) do %>
            <%= content_tag(:li, service.name.capitalize, class: ["my-3 pt-2", service.name.capitalize], id: ["service-name"]) %>
          <% end %>
        <% end %>
        <% if  user_signed_in? %>
          <% if current_user.role === "technician" %>
          <%= link_to "New Service", new_services_technician_path  %>
          <% end %>
        <% end%>
      </ul>
    </div>
  </div>
</div>
