// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
//SOLVE IT TEMPLATE COLORS-APPLE INSPO
$a-black: #000000;
$a-gray: #666666;
$a-mid-gray: #979797;
$a-light-gray: #cfcfcf;
$a-white: #eeeeee;
$a-blue: #0088cc;
$a-dark-blue: #12192f;
$a-red: #D0102B;
$a-orange: #FF8F5F;
//SOLVE IT TEMPLATE COLORS-APACHE INSPO
$b-red: #D22128;
$b-gray: #6D6E71;
$b-yellow: #F79A25;
$b-orange: #EA7826;
$b-light-red: #CB2138;
$b-wine: #9E2165;
$b-purple: #662F8F;
$b-blue: #282661;
//SOLVE IT TEMPLATE COLORS-ukraine INSPO
$c-dark-blue: #0A1931;
$c-light-blue: #185ADB;
$c-yellow: #FFC947;
$c-white: #EFEFEF;
//SOLVE IT TEMPLATE COLORS-twist INSPO
$d-dark: #2C2E43;
$d-dark-grey: #595260;
$d-grey: #B2B1B9;
$d-yellow: #FFD523;
