// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
//SOLVE IT TEMPLATE COLORS
$si-black: #000000;
$si-gray: #666666;
$si-mid-gray: #979797;
$si-light-gray: #cfcfcf;
$si-white: #eeeeee;
$si-blue: #0088cc;
$si-dark-blue: #12192f;
$si-red: #D0102B;
$si-orange: #FF8F5F;
