#page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

#content-wrap {
  padding-bottom: 180px;    /* Footer height */
  padding-top: 8vh;

}
a, a:hover, a:focus {
    text-decoration: none !important;
}
