h3,
h3 > a {
  color: $c-dark-blue;
  text-decoration: none;
  display: inline-block;
  font-family: $poppins;
  margin-top: 2px;
  font-size: 20px;
  color: white;
}

.category-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(175, 39, 27, 0.361), transparent), url(background3.jpg);  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 8%;
}

.row {
  display: flex;
  height: 70%;
  align-items: center;
}

.col {
  flex-basis: 50%;
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 108px;
  font-family: $poppins;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 26px;
  font-family: $poppins;

  font-weight: 500;
}
h5 {
  color: white;
  font-size: 15px;
  font-family: $poppins;
}

p {
  color: white;
  font-size: 11px;
  line-height: 15px;
  font-family: $poppins;
}

.index-card {
  width: 230px;
  height: 230px;
  display: inline-block;
  border-radius: 15px;
  padding: 15px 25px;
  box-sizing: border-box;
  margin: 15px 15px;
  background-image: url(2001.png);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
  &:hover {
    transform: translateY(-15px);
    cursor: pointer;
  }
}
#index-search{
width: 400px ;
}
.computer {
  background-image: url(computer1.png);
}
.smartphone {
  background-image: url(phone1.png);
}
.printer {
  background-image: url(printer1.png);
}
.smart-tv {
  background-image: url(tv.png);
}
.card5 {
  background-image: url(a3.png);

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .index-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .index-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .index-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .index-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .index-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
