.service-container-index {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(121, 30, 30, 0.45), transparent), url(service-index-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 8%;
  &:hover {
    transform: translateY(5px);
    cursor: pointer;
    text-decoration: none;
  }
}
