<div class="technician-container-index">
  <div id="service-technician-index-img">
    <div class="index">
      <div class="headers">
        <% if @services_technicians.first.present? %>
          <h1 id="tech-title">Choose a Technician</h1>
        <% else %>
          <h1 id="sorry-message">Sorry... No Available
            Technicians</h1>
        <% end %>
      </div>
    </div>
  </div>
  <div class="info">
    <h2 id="service-title">Available Technicians</h2>
    <% @services_technicians.each do |service_technician| %>
      <ul>
        <%= link_to  services_technician_path(service_technician.id) do%>
          <li>Technician:  <%= service_technician.user.name%> </li>
          <li>Service Price: <%=  humanized_money_with_symbol(service_technician.price) %></li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to "Go Back", category_path(@services_technicians.last.service.category.id), class:"si-btn-blue" %>
  </div>
</div>
