<div class="dashboard-show">
  <div class="dashboard-img">
    <div class="headers">
      <h1 id="dashboard-title">Dashboard</h1>
    </div>
  </div>
  <div class="info pb-20">
    <% if @user_services_technician.empty? %>
      <p>You have not registered services yet. </p>
    <% else %>
      <h2>Your current services</h2>
      <% @user_services_technician.each do |service_technician| %>
        <%= link_to services_technician_path(:id => service_technician.id) do %>
          <%= content_tag(:li, service_technician.service.name.capitalize, class: ["my-3 pt-2", service_technician.service.name.capitalize], id: ["dashboard-service"]) %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "Add a new service", new_services_technician_path, class: "btn-yellow" %>
  </div>
</div>
