<div class="meeting-show">
  <div class="headers-meeting">
    <h1>All set, <%= @order.user.name %> !</h1>
    <%# <h2>A technician is waiting to help you with: <strong><%= @order.services_technician.service.name %>
    <h2>Your technician is ready, join the meeting below:</h2>
  </div>
  <div class="meeting-background">
    <div id="meet"></div>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
      const domain = 'meet.jit.si';
      const options = {
        roomName: 'solveItTestRoom',
        width: 700,
        height: 500,
        parentNode: document.querySelector('#meet'),
        userInfo: {
          email: 'email@jitsiexamplemail.com',
          displayName: 'John Doe'
      }
        };

        const api = new JitsiMeetExternalAPI(domain, options);
    </script>
  </div>
