<div class="img-container">

  <div class="text-box">
    <p>#687</p>
    <h1>Solve It</h1>
    <p id="description-home">Solve your tech problems in minutes through on demand tech support <br> with professional technicians.</p>


    <div class="row">
    <%=link_to "Find a solution", categories_path%>
    </div>
  </div>
</div>
