.si-btn-blue {
  background-image: linear-gradient(rgba(0, 0, 0, 0), transparent), url(background4.jpg);
  font-size: 25px;
  backdrop-filter: blur(500px);
  text-decoration: none;
  padding: 10px 20px;
  width: 300px;
  border-radius: 8px;
  background-position: 27% 10%;
  transition: 0.3s ease-in-out;
  text-align: center;
  color: white;
  &:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.si-btn-yellow {
  background-image: linear-gradient(rgba(0, 0, 0, 0), transparent), url(background4.jpg);
  font-size: 25px;
  backdrop-filter: blur(500px);
  text-decoration: none;
  padding: 10px 20px;
  width: 300px;
  border-radius: 8px;
  background-position: 50% 54%;
  transition: 0.3s ease-in-out;
  text-align: center;
  color: white;
  &:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}


