.card-home {
  border: 2px lightgrey (255, 213, 63);
  width: 200px;
  padding: 4em;
  margin: 1em;
  box-shadow: 0px 2px 7px 0px rgb(209, 209, 209);
  border-radius: 5px;
  transition: transform 0.3s;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);

  &:hover {
    transform: translateY(10px);
    box-shadow: 0px 2px 7px 0px rgb(209, 209, 209);
    text-decoration: none;
  }
}
.other-card {
  border: 2px lightgrey (255, 213, 63);
  width: 200px;
  padding: 4em;
  margin: 1em;
  box-shadow: 0px 2px 7px 0px rgb(209, 209, 209);
  border-radius: 5px;
  transition: transform 0.3s;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);

  &:hover,
  :visited {
    transform: translateY(10px);
    box-shadow: 0px 2px 7px 0px rgb(209, 209, 209);
    text-decoration: none;
  }
}
.other-card > a {
  text-decoration: none;
}

section-browse > h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Jura", sans-serif;
  padding-top: 10px;
}

section-browse .text {
  text-decoration: none;
}

#search-bar {
  margin-top: 10px;
}
