<div class="category-container">
  <div class="row">
    <div class="col">
      <h1>Choose a device </h1>
      <h3>Not sure? Search all tech solutions</h3>
      <div class="d-flex mt-1" id="search-bar">
        <div class="flex-grow-1">
          <form class= "form-inline my-2 my-Ig-0" action="/categories/autocomplete">
              <input id="index-search" class="form-control mr-sm-15" name="query" type="text" placeholder="I need help with..." aria-label= "Search" >
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search </button>
          </form>
        </div>
      </div>
      <ul id="results" class="list-group"></ul>



    </div>


    <div class="col">
      <% @categories.each do |category| %>
        <%= link_to category_path(category.id) do %>
          <%= content_tag(:div, "", class: ["index-card", category.name.downcase ]) %>
        <% end %>
      <% end %>
      <a href="services">
        <div class="index-card card5">
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  const showResults = (event) => {
  const results = document.getElementById('results');
  const searchBar = document.getElementById("search-bar");

  const inputWord = document.querySelector('.form-control').value;
  const url = `/categories/autocomplete?query=${inputWord}`;
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      console.log(data);
      results.innerHTML = "";
      const services = data;
      services.forEach((item) => {
        results.insertAdjacentHTML('beforeend', `<li class="list-group-item"> <a href="/services_technicians?service_id=${item.id}">${item.name}</a></li>`);
      });
    });

    searchBar.addEventListener('keyup', showResults);

};

  const searchBar = document.getElementById("search-bar");
  searchBar.addEventListener('keyup', showResults);




</script>
