<div class="category-container">
  <div class="row">
    <div class="col">
      <h1>Choose a device </h1>
      <h3>Not sure? Search all tech solutions</h3>
      <div id="search-bar">
        <div class="flex-grow-1">
          <form action="/categories/autocomplete" method="dialog">
            <input  class="form-control form-control-lg" name="query" type="text" placeholder="I need help with..." aria-label= "Search" >
          </form>
          <ul id="results" class="list-group"></ul>
        </div>
      </div>
    </div>
    <div class="col">
      <% @categories.each do |category| %>
        <%= link_to category_path(category.id) do %>
          <%= content_tag(:div, "", class: ["index-card", category.name.downcase ]) %>
        <% end %>
      <% end %>
      <a href="services">
        <div class="index-card card5">
        </div>
      </a>
    </div>
  </div>
</div>
<script>
  const showResults = (event) => {
  const results = document.getElementById('results');
  const searchBar = document.getElementById("search-bar");

  const inputWord = document.querySelector('.form-control').value;
  const url = `/categories/autocomplete?query=${inputWord}`;

  fetch(url)
    .then(response => response.json())
    .then((data) => {
      results.innerHTML = "";
      const services = data;
      if (Object.keys(services).length === 0) {
        results.insertAdjacentHTML('beforeend', `<li class="list-group-item"> We don't have that service yet!</a></li>`);
      }
      else {
        services.forEach((item) => {
        results.insertAdjacentHTML('beforeend', `<li class="list-group-item"> <a href="/services_technicians?service_id=${item.id}">${item.name}</a></li>`);
      });
      }

    });

    searchBar.addEventListener('keyup', showResults);

  };

  const searchBar = document.getElementById("search-bar");
  searchBar.addEventListener('keyup', showResults);
</script>
