<div class="category-container">
  <div class="row">
    <div class="col">
      <h1>Pick your device </h1>
      <h3>Not sure? Search all tech solutions</h3>
      <div class="d-flex mt-1" id="search-bar">
        <div class="flex-grow-1">
          <form class= "form-inline my-2 my-Ig-0" action="/categories/autocomplete">
              <input class="form-control mr-sm-2" name="query" type="text" placeholder="I need help with..." aria-label= "Search" >
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search </button>
          </form>
      </div>
      </div>
      <ul id="results" class="list-group mr-sm-2"></ul>

    </div>


    <div class="col">
      <% @categories.each do |category| %>
        <%= link_to category_path(category.id) do %>
          <%= content_tag(:div, "", class: ["index-card", category.name.downcase ]) %>
        <% end %>
      <% end %>
      <a href="services">
        <div class="index-card card5">
        </div>
      </a>
    </div>
  </div>
</div>
