<div class="category-container">
  <div class="row">
    <div class="col">
      <h1>Pick your device </h1>

      <h3>Not sure? Search all tech solutions</h3>
      <div class="d-flex mt-1" id="search-bar">
        <div class="flex-grow-1">
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search",
          placeholder: "I need help with..."
        %>
          </div>
          <div class="flex-item">
            <%= submit_tag "Search",  class: "btn btn-primary"  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <a href="categories/21">
        <div class="index-card card1">
        </div>
      </a>
      <a href="categories/22">
        <div class="index-card card2">
        </div>
      </a>
      <a href="categories/23">
        <div class="index-card card3">
        </div>
      </a>
      <a href="categories/24">
        <div class="index-card card4">
        </div>
      </a>
      <a href="services">
        <div class="index-card card5">
        </div>
      </a>
    </div>
  </div>
</div>
