<h2> <%= @category.name %></h2>
<h2><i class="<%= @category.icon %> icon-home" ></i></h2>

<% @category.services.each do |service| %>
  <ul>
    <li><%= link_to service.name, services_technicians_path(:service_id => service.id) %></li>
  </ul>
<% end %>
